node_modules/
dist/
.env
.env.local
*.local
datasets/
models/vera/*.pt
models/vera/*.onnx
models/verum/*.pt
models/verum/*.onnx
__pycache__/
*.pyc
.DS_Store
.vite/
*.egg-info/
.pytest_cache/
models/vera/tfjs/
*.onnx
datasets/vera/raw/
datasets/vera/train/
datasets/vera/val/
ngrok.exe
.ngrok2/